<div class="app" id="app">

    <!-- aside -->
    <div id="aside" class="app-aside box-shadow-z3 modal fade lg nav-expand">
        <div class="left navside white dk" layout="column">
            <div class="navbar navbar-md dark no-radius box-shadow-z4">
                <!-- brand -->
                <a class="navbar-brand" href="<?=Url::to(['/'])?>">
                    <img class="thump-lg" src="http://projects.ukuya.net/dd/images/logo.png">
                </a>
                <!-- / brand -->
            </div>
            <div flex class="hide-scroll">
                <nav class="scroll nav-border b-black">
                    <div class="nav-fold">
                        <a href="#/app/page/profile" ui-sref="app.page.profile" >
                            <span class="pull-right m-v-sm hidden-folded">
                              <b class="label warn">9</b>
                            </span>
                            <span class="pull-left">
                              <img src="http://flatfull.com/themes/flatkit/assets/images/a1.jpg" alt="..." class="w-40 img-circle">
                            </span>
                            <span class="clear hidden-folded p-x">
                              <span class="block _500">Azam Nemad</span>
                              <small class="block text-muted">Petaling Jaya, MY</small>
                            </span>
                        </a>
                    </div>


                    <ul class="nav" ui-nav>
                        <li class="nav-header hidden-folded">
                            <span class="text-xs text-muted">Main</span>
                        </li>

                        <li>
                            <a href="/dashboard">
                              <span class="nav-icon">
                                <i class="material-icons">center_focus_strong</i>
                              </span>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>

                        <!-- SEND NOW -->
                        <li class="active">
                            <a>
                                <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                <span class="nav-icon"><i class="material-icons">filter_none</i></span>
                                <span class="nav-text">Send Now</span>
                            </a>
                            <ul class="nav-sub">
                                <li><a><span class="nav-text">Send A Parcel</span></a></li>
                                <li><a><span class="nav-text">Bulk Upload</span></a></li>
                            </ul>
                        </li>

                        <!-- MY DELIVERY -->
                        <li>
                            <a>
                                <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                <span class="nav-icon"><i class="material-icons">filter_none</i></span>
                                <span class="nav-text">My Delivery</span>
                            </a>
                            <ul class="nav-sub">
                                <li><a><span class="nav-text">Pending Items</span></a></li>
                                <li><a><span class="nav-text">Action Required</span></a></li>
                            </ul>
                        </li>

                        <!-- ALL SHIPMENT -->
                        <li>
                            <a>
                                <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                <span class="nav-icon"><i class="material-icons">local_shipping</i></span>
                                <span class="nav-text">All Shipment</span>
                            </a>
                            <ul class="nav-sub">
                                <li><a><span class="nav-text">Domestic</span></a></li>
                                <li><a><span class="nav-text">International</span></a></li>
                            </ul>
                        </li>

                        <!-- MY CREDITS -->
                        <li>
                            <a>
                                <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                <span class="nav-icon"><i class="material-icons">attach_money</i></span>
                                <span class="nav-text">My Credits</span>
                            </a>
                            <ul class="nav-sub">
                                <li><a><span class="nav-text">D Coin</span></a></li>
                                <li><a><span class="nav-text">Credit History</span></a></li>
                                <li><a><span class="nav-text">Top Up History</span></a></li>
                            </ul>
                        </li>

                        <!-- BILLING -->
                        <li>
                            <a>
                                <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                <span class="nav-icon"><i class="material-icons">menu</i></span>
                                <span class="nav-text">Billing</span>
                            </a>
                            <ul class="nav-sub">
                                <li><a><span class="nav-text">Unpaid Orders</span></a></li>
                                <li><a><span class="nav-text">Parcial Paid Orders</span></a></li>
                                <li><a><span class="nav-text">Invoices</span></a></li>
                            </ul>
                        </li>

                        <!-- My Account -->
                        <li>
                            <a>
                                <span class="nav-caret text-muted"><i class="fa fa-caret-down"></i></span>
                                <span class="nav-icon"><i class="material-icons">menu</i></span>
                                <span class="nav-text">My Account</span>
                            </a>
                            <ul class="nav-sub">
                                <li><a><span class="nav-text">Profile Setting</span></a></li>
                                <li><a><span class="nav-text">Address Book</span></a></li>
                                <li><a><span class="nav-text">Referral</span></a></li>
                                <li><a><span class="nav-text">Flyer Request</span></a></li>
                                <li><a><span class="nav-text">Parcel Report</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <nav ui-nav>
                    <ul class="nav">
                        <li><div class="b-b b m-v-sm"></div></li>
                        <li class="no-bg">
                            <a class="auto">
                                <span class="nav-icon">
                                  <i class="material-icons inline">&#xe835;</i>
                                  <i class="material-icons text-warn none">&#xe834;</i>
                                </span>
                                <span class="nav-text">News</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="b-t" flex-no-shrink>
                <nav ui-nav>
                    <ul class="nav">
                        <li class="no-bg">
                            <a>
                                <span class="nav-icon">
                                 <i class="material-icons">&#xe8ac;</i>
                                </span>
                                <span class="nav-text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- / aside -->

    <!-- content -->
    <div id="content" class="app-content box-shadow-z3" role="main">
        <div class="app-header dark box-shadow-z4 navbar-md b-l b-dark">
            <div class="navbar">
                <!-- Open side - Naviation on mobile -->
                <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
                    <i class="material-icons">&#xe5d2;</i>
                </a>
                <!-- / -->

                <!-- nabar right -->
                <ul class="nav navbar-nav pull-right m-l">
                    <li class="nav-item dropdown hidden-xs-down">
                        <!-- search form -->
                        <form class="navbar-form form-inline pull-right pull-none-sm navbar-item m-l v-m" role="search">
                            <div class="form-group l-h m-a-0 white">
                                <div class="input-group">
                                    <input type="text" class="form-control b-a" placeholder="Enter your tracking number">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default b-a no-shadow _600"><i class="fa fa-search"></i> Track</button>
                                </span>
                                </div>
                            </div>
                        </form>
                        <!-- / search form -->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href data-toggle="dropdown">
                            <i class="material-icons md-36">&#xe558;</i>
                            <b class="label label-sm up warn">5</b>
                        </a>
                        <!-- dropdown -->
                        <div class="dropdown-menu text-color w-xl animated fadeIn p-a-0 pull-right dark text-white">
                            <div class="b-b p-a p-y-sm">
                                <strong><span>3</span> items in cart</strong>
                            </div>
                            <form class="m-a-0">
                                <div class="scrollable" style="max-height: 132px">
                                    <ul class="list-group no-bg m-a-0 no-radius no-border">
                                        <li class="list-group-item alert">
                                            <a href class="pull-right inline p-x-sm" data-dismiss="alert" aria-label="Close">
                                                <i class="fa fa-close text-sm text-muted"></i>
                                            </a>
                                            <span class="clear block text-ellipsis">
                                                2 x iPhone 6 - $500.00
                                              </span>
                                        </li>
                                        <li class="list-group-item alert">
                                            <a href class="pull-right inline p-x-sm" data-dismiss="alert" aria-label="Close">
                                                <i class="fa fa-close text-sm text-muted"></i>
                                            </a>
                                            <span class="clear block text-ellipsis">
                                                1 x Macbook Pro with attachments - $1500.00
                                              </span>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <div class="b-t p-a text-sm">
                                <span class="pull-right">total: <strong>$4500.00</strong></span>
                                <a href class="btn white btn-sm">Checkout</a>
                            </div>
                        </div>
                        <!-- / dropdown -->
                    </li>
                </ul>
                <!-- / navbar right -->

                <!-- navbar collapse -->
                <div class="collapse navbar-toggleable-sm" id="navbar-4">
                    <!-- link and dropdown -->
                    <ul class="nav navbar-nav pull-left m-r">
                        <li class="nav-item dropdown dropdown-submenu pos-stc">
                            <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <span>Mega</span>
                            </a>
                            <ul class="dropdown-menu pull-down text-color" role="menu">
                                <li class="dropdown-item"><a href>Action</a></li>
                                <li class="dropdown-item"><a href>Another action</a></li>
                                <li class="dropdown-item"><a href>Something else here</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a href>Separated link</a></li>
                                <li class="dropdown-item dropdown-submenu">
                                    <a href>Submenu</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown-item"><a href>Action</a></li>
                                        <li class="dropdown-item"><a href>Another action</a></li>
                                        <li class="dropdown-item"><a href>Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-submenu">
                            <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
                                <span>Submenu</span>
                            </a>
                            <ul class="dropdown-menu pull-down text-color" role="menu">
                                <li class="dropdown-item"><a href>Action</a></li>
                                <li class="dropdown-item"><a href>Another action</a></li>
                                <li class="dropdown-item"><a href>Something else here</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a href>Separated link</a></li>
                                <li class="dropdown-item dropdown-submenu">
                                    <a href>Submenu</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="dropdown-item"><a href>Action</a></li>
                                        <li class="dropdown-item"><a href>Another action</a></li>
                                        <li class="dropdown-item"><a href>Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- / link and dropdown -->

                </div>
                <!-- / navbar collapse -->

            </div>
        </div>
        <div class="app-body container m-b">
            <div class="" style="min-height: 450px;">

                <!--<h1>{{title}}</h1>-->
                <!--<a routerLink="/pagefirst" routerLinkActive="activeLink">First Page</a>-->
                <!--<a routerLink="/page-2" routerLinkActive="activeLink">Second Page</a>-->
                <!--<br>-->
                <!--<br>-->

                <!--<a routerLink="/booking/add" routerLinkActive="activeLink">Booking Add</a>-->
                <!--<br>-->
                <!--<a routerLink="/booking/list" routerLinkActive="activeLink">Booking List</a>-->
                <!--<img [src]="isUnchanged">Cancel is disabled-->
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
    <div>
        Footer
    </div>
</div>